<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<div class="edit-link">
  <div class="show">
    <%= link_to 'Show', @task %>
  </div>

  <div class="back">
    <%= link_to 'Back', :back %>
  </div>
</div>
