<h1>Editing category</h1>
<%= render 'form_categories', category: @category %>
<div class="edit-link">
  <div class="show">
    <%= link_to 'Show', @category %>
  </div>
  <div class="back">
    <%= link_to 'Back', :back %>
  </div>
</div>
